{% load i18n %}
<html>
    <head></head>
        <body>
            <h2>{% trans 'Draga' %} {{ buyer }},</h2>
            <p>{% trans 'Biletul tau de vizitator al Parcului Natural Bucegi este atasat acestui email.' %}</p>
            <p>{% trans 'Parcul Natural Bucegi are, ca orice arie protejata, reguli bine stabilite, pentru a ne asigura ca natura are de suferit cat mai putin in urma turismului. Poti vedea regulile accesand acest <a href="https://bucegipark.ro/ro/park-rules">link.</a>' %}</p>
            <h5>{% trans 'Vizita placuta!' %},</h5>
            <h5>{% trans 'Administratia Parcului Natural Bucegi R.A.' %}</h5>
        </body>
</html>