Django==3.2
whitenoise
python-dotenv==0.19.1
django-ckeditor==6.1.0
django-resized
django-simple-captcha>=0.5.14
requests
beautifulsoup4
python-memcached
pymemcache
django-modeltranslation
django-hitcount
django-countries
django-multiselectfield
pycryptodome
pyopenssl
# folium
# earthengine-api
# pandas
# geopandas
# django-payments