{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- promo start-->
				<!-- promo end-->
				<!-- section start-->
				<section class="section pb-0">
					<div class="container w-100" style="max-width:100%;">
						{% include 'includes/messages.html' %}
						<div class="row">
							<div class="col-12">
								<div class="">
									{{ map|safe }}
								</div>
							</div>
						</div>
					</div>
				</section>
				

				<!-- section end-->

			</main>
{% endblock %}
