{% extends "services/base.html" %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}

{% block content %}

<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/wildlife/lake.webp' %}" media="(min-width: 992px)"><img class="img--bg" src="{% static 'img/wildlife/lake.webp' %}" alt="img">
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
                  <div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span>{% blocktranslate %}Visitor</span> <span>Tickets{% endblocktranslate %}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% if messages %}
				<div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
					{% include 'includes/messages.html' %}
				</div>
				{% else %}
				<div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center">
				</div>
				{% endif %}
				<!-- welcome end-->
        <!-- section start-->
				<section class="section elements bottom-70">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="accordion accordion--bordered">
									<div class="accordion__title-block">
										<h6 class="accordion__title">{% trans 'Why this visitor tariff' %}?</h6><span class="accordion__close"></span>
									</div>
									<div class="accordion__text-block" style="display: none;">
										<div class="col-12">
      								<p>{% blocktranslate %}<strong>The visitor fee supports us in keeping doing what we do, which is preserving this mountain for future generations. We maintain order and compliance with visitor regulations, maintain trails, assist you when you are in trouble on the mountain, collect garbage, protect flora and fauna, educate children and adults, we upload photos on social media to show you the local natural beauty, set up lots of information boards, and much more. </strong><br><br>Each visitor who pays the visitor tariff, supports nature conservation on this mountain, thus maybe together we can prevent more disturbance to wildlife or rare flowers this year. Thank you!{% endblocktranslate %}</p>
											<br>
                      <img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/garbage.webp' %}" alt="img"/>
      								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/presentation2.webp' %}" alt="img"/>
      								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/wooden-trail.webp' %}" alt="img"/>
      								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/resting-places.webp' %}" alt="img"/>
      								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/presentation.webp' %}" alt="img"/>
      								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/info-board3.webp' %}" alt="img"/>
											<div class="row mt-5">
          							<div class="col-12 text-center"><a class="button button--primary main-menu__link--scroll" style="text-decoration: none;" href="#choose-tickets">{% trans 'Buy your tickets below' %}</a></div>
          						</div>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
        <div class="cart mt-5" id="choose-tickets">
          <div class="row bottom-50 mx-4">
            <div class="col-12 text-justified">
              <h3>{% trans 'Note' %}</h3>
              <p>{% trans 'The visitor tickets are valid for 90 days, during which you can visit the entire Bucegi Natural Park, anytime you want. Just make sure you have the tickets with you' %}.</p>
              <p>{% trans 'If you want to buy tickets for your friends or family too, you can add below the number of tickets you want to buy, then press Proceed to Payment' %}.</p>
              <!-- <p>{% trans "The final price of the visitor ticket will also include a small transaction fee, applied by our payment processor, Netopia Payments and equal to 0.95 percent per transaction" %}.</p> -->
            </div>
          </div>
          <div class="cart__heading">
            <div class="row">
              <div class="col-lg-4">
                <h6 class="cart__title" style="font-weight:800">{% trans 'Tickets' %}</h6>
              </div>
              <div class="col-lg-3 text-center d-none d-lg-block">
                <h6 class="cart__title" style="font-weight:800">{% trans 'Details' %}</h6>
              </div>
              <div class="col-lg-2 text-center d-none d-lg-block">
                <h6 class="cart__title" style="font-weight:800">{% trans 'Price' %}</h6>
              </div>
              <div class="col-lg-3 text-center d-none d-lg-block">
                <h6 class="cart__title" style="font-weight:800">{% trans 'Add' %}</h6>
              </div>
              <!-- <div class="col-lg-1"></div> -->
            </div>
          </div>
          <div class="cart__body">
            <form class="form" action="{% url 'checkout' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="cart-item">
                <div class="row align-items-center">
                  <div class="col-lg-4">
                    <div class="cart-item__product">
                      <div class="cart-item__product-name">{% trans 'Teens and Adults' %}</div>
                    </div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="cart-item__price"> <span>14 +</span><span>{% trans 'years old' %}</span></div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <div class="cart-item__price"> <span>10</span><span>RON</span></div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="cart-item__count">
                      <span class="cart-item__minus"></span>
                      <input class="cart-item__input" type="number" name="adults" value="0">
                      <span class="cart-item__plus"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cart-item">
                <div class="row align-items-center">
                  <div class="col-lg-4">
                    <div class="cart-item__product">
                      <div class="cart-item__product-name">{% trans 'Children' %}</div>
                    </div>
                  </div>
                  <div class="col-lg-3 text-center">
                    <div class="cart-item__price"><span>0 - 14 </span><span>{% trans 'years old' %}</span></div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <div class="cart-item__price"><span>{% trans 'Free' %}</span><span></span></div>
                  </div>
                  <div class="col-lg-3 text-center">
                  </div>
                </div>
              </div>
              <div class="cart__lower">
								<div class="row">
									<div class="col-lg-8">
										<div class="">
											<p class="" type="submit"><i class="fa fa-lock"></i>  {% trans 'Payments are secure and encrypted' %}.</p>
											<p class="" type="submit"><i class="fa fa-google-wallet"></i>  {% trans 'You will be redirected to Netopia Payments to complete the payment' %}.</p>
                      <script src="https://mny.ro/npId.js?p=128648" type="text/javascript" data-version="vertical" data-contrast-color="#012560" ></script>
											<p class="" type="submit"><i class="fa fa-ticket"></i>  {% trans 'You can consult our' %} <a href="{% url 'terms' %}">{% trans 'Terms and Conditions' %}</a> {% trans 'here' %}.</p>
										</div>
									</div>
									<div class="col-lg-4 text-lg-right">
										<div class="cart-totals">
                      <h6 class="cart__title">Total</h6>
                      <ul class="cart-totals__list">
                        <li><span>{% trans 'Number of tickets' %}:</span><input id="tickets" name="tickets_nr" value="" readonly></li>
                        <li><span>{% trans 'Final cost' %}:</span><input id="total" name="total_price" value="" readonly></li>
                      </ul>
                      <!-- <a class="cart-totals__link button button--primary" >Proceed to checkout</a> -->
											<input class="form__submit mt-5" type="submit" value="{% trans 'Forward' %}">
										</div>
									</div>
								</div>
							</div>
            </form>
          </div>
        </div>
			</main>
{% endblock %}
