{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary green_background">
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									{% if messages %}
									<div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
										{% include 'includes/messages.html' %}
									</div>
									{% else %}
									<div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center">
									</div>
									{% endif %}
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Payment</span> <span> Confirmation</span>{% endblocktranslate %}</h1>
										<span class="welcome_icon">
											<img src="{% static 'img\backgrounds\tickets2.webp' %}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- welcome end-->
				<div id="newsletter" class="cta-block top-70 bottom-70"><img class="img--bg" src="{% static 'img/backgrounds/newsletter6.webp' %}" alt="bg">
				  <div class="container">

				    <div class="row align-items-center">
				      <div class="col-lg-12">
								<h4 class='cta-block__title'><span>{% trans 'Congratulations! Your payment was successful' %}.</span></h4>
								<p class='cta-block__text'>{% trans 'Digital tickets have been sent to the specified email address' %}.</p>
							</div>
				    </div>
				  </div>
				</div>
				<!-- section end-->
			</main>
{% endblock %}
