{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main">
				<script>
					$(document).ready(function(){
						$("#payment_country").select2();
						}
					)
					// $(function(){
					// 	$("#payment_country").select2();
					// }); 
				</script>
				<!-- welcome start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/backgrounds/rhododendron.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/backgrounds/rhododendron.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span>{% blocktranslate %}Ticket</span> <span> Checkout{% endblocktranslate %}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% if messages %}
				<div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
					{% include 'includes/messages.html' %}
				</div>
				{% else %}
				<div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center">
				</div>
				{% endif %}
				<!-- welcome end-->
				<!-- section start-->
				<section class="section checkout pt-0">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- checkout start-->
								<form class="form checkout-form" method="POST">
									{% csrf_token %}
									
									<div class="row">
										<div class="col-lg-7 col-xl-8">
											<div class="checkout__wrapper">
												<div class="form__fieldset">
													<h6 class="form__title">{% trans 'Payer Personal Information' %}</h6>
													<!-- <div class="row offset-30 mb-5">
														<div class="col-md-6">
															{{ form.quantity.value }}
														</div>
														<div class="col-md-6">
															{{ form.price.value }}
														</div>
													</div> -->
													<div class="row offset-30">
														<div class="col-md-6">
															<!-- <input class="form__field" type="text" name="first-name" placeholder="{% trans 'First Name' %}"/> -->
															{{ form.buyer_fname }}
														</div>
														<div class="col-md-6">
															<!-- <input class="form__field" type="text" name="last-name" placeholder="{% trans 'Last Name' %}"/> -->
															{{ form.buyer_lname }}
														
														</div>
														<div class="col-md-6">
															<!-- <input class="form__field" type="tel" name="phone-number" placeholder="{% trans 'Phone' %}"/> -->
															{{ form.phone }}
														
														</div>
														<div class="col-md-6">
															<!-- <input class="form__field" type="email" name="email" placeholder="Email"/> -->
															{{ form.email }}
														
														</div>
													</div>
												</div>
												<div class="form__fieldset no-margin-bottom">
													<div class="row offset-30">													
														<div class="col-12">
															<!-- <textarea class="form__field form__message" name="notes" placeholder="{% trans 'Notes' %}"></textarea> -->
															{{ form.notes }}
														
														</div>
													</div>
												</div>
												<div class="form__fieldset">
													<h6 class="form__title">{% trans 'Payment Method' %}</h6>
													<div class="row offset-30">
														<div class="col-12">
															<div class="form__payments">
																<label class="form__radio-label"><img class="form__label-img" style="height:30px;width:auto;" src="https://w7.pngwing.com/pngs/363/177/png-transparent-visa-mastercard-logo-visa-mastercard-computer-icons-visa-text-payment-logo.png" alt="revolut"/>
																	<input class="form__input-radio" type="radio" name="method-select" value="visa" checked="checked"/><span class="form__radio-mask form__radio-mask"></span>
																</label>
																<label class="form__radio-label"><img class="form__label-img" src="{% static 'img/icons/revolut.png' %}" alt="revolut"/> Revolut
																	<input class="form__input-radio" type="radio" name="method-select" value="revolut" disabled/><span class="form__radio-mask form__radio-mask"></span>
																</label>
																<label class="form__radio-label"><img class="form__label-img" src="{% static 'img/icons/crypto.png' %}" alt="crypto"/> {% trans 'Cryptocurrencies' %}
																	<input class="form__input-radio" type="radio" name="method-select" value="crypto" disabled/><span class="form__radio-mask form__radio-mask"></span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form__fieldset no-margin-bottom">
													<div class="row offset-30">
														<div class="col-12">
															<!-- <input class="form__field" type="text" name="address" placeholder="{% trans 'Currency' %}"/> -->
															{{ form.currency }}
														
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-5 col-xl-4">
											<div class="checkout__wrapper">
												<div class="form__fieldset">
													<h6 class="form__title">{% trans 'Order Summary' %}</h6>
													<div class="order-item">
														<div class="row no-gutters align-items-center">
															<div class="col-4 col-sm-3 col-md-2 col-lg-4">
																<div class="order-item__img">
																	<img class="img--contain" src="{% static 'img/icons/tickets.png' %}" alt="img">
																</div>
															</div>
															<div class="col-7 col-sm-8 col-md-9 col-lg-7">
																<div class="order-item__description"><h4>{% trans 'Teens and Adults' %}</h4>
																</div>
																<p>{% trans '*Free for Children*' %}</p>
															</div>
														</div>
													</div>
												</div>
												<div class="form__fieldset no-margin-bottom cart-item">
													<div class="cart-totals">
														<ul class="cart-totals__list align-items-center">
															<!-- <li><span>{% trans 'Number of tickets' %}:</span><input id="tickets" name="tickets_nr" value="" readonly></li> -->
															<li class="align-items-center"><span style="width:100px;">{% trans 'Number of adults' %}:</span>
																<div class="cart-item__count">
																	<span class="cart-item__minus"></span>
																	{{ form.quantity }}
																	<!-- <input class="cart-item__input" id="tickets" name="tickets_nr" value="" readonly> -->
																	<span class="cart-item__plus"></span>
															  	</div>
															</li>
															<!-- <li class="align-items-center"><span style="width:100px;">{% trans 'Number of children' %}:</span>
																<div class="cart-item__count">
																	<span class="cart-item__minus"></span>
																	{{ form.quantity_kids }}
																	<input class="cart-item__input" id="tickets" name="tickets_nr" value="" readonly>
																	<span class="cart-item__plus"></span>
															  	</div>
															</li> -->
															<li class="align-items-center"><span style="width:100px;">{% trans 'Final cost' %}:</span>{{ form.price }} RON</li>
															<!-- <li><span>{% trans 'Final cost' %}:</span><input id="total" name="total_price" value="" readonly></li> -->
															<li class="align-items-center check"><span>{{ form.terms }}</span><span>{% trans 'I read and accept the ' %}<a href="{% url 'terms' %}">{% trans 'Terms and Conditions' %}</a></span></li>
															
														</ul>
														<button class="form__submit" target="_blank" type="submit">{% trans 'Pay' %}</button>
														<span>
														</span>
														<p class="form__title text-warning">{% trans 'Only test payments for now' %}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</form>
								
								<script>

								</script>
								<!-- checkout end-->
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
			
			   
	{% endblock %}
