{% extends "services/base.html" %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}

{% block content %}
<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/wildlife/lake.webp' %}" media="(min-width: 992px)"><img class="img--bg" src="{% static 'img/wildlife/lake.webp' %}" alt="img">
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
                  <div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span>{% blocktranslate %}Visitor</span> <span>Ticket{% endblocktranslate %}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- welcome end-->
        <!-- section start-->
				<section class="section">
					<div class="container">
						<div class="row">
              <div class="cta-block">
      					<div class="container">
      						<div class="row align-items-center">
      							<div class="col-12">
      								<p class="cta-block__text">{% blocktranslate %}<strong>The visitor fee supports us in keeping doing what we do, which is preserving this mountain for future generations. We maintain order and compliance with visitor regulations, maintain trails, assist you when you are in trouble on the mountain, collect garbage, protect flora and fauna, educate children and adults, we upload photos on social media to show you the local natural beauty, set up lots of information boards, and much more. </strong><br>Each of visitor who pays the visitor tarrif, supports nature conservation on this mountain, thus maybe together we can prevent more disturbance to wildlife or rare flowers this year and save a rare flower from being stepped on, or maybe wild animals being scared away by illegal motorized vehicles.<br><br>Thank you!<br><br>{% endblocktranslate %}</p>
                      <div class="row">
          							<div class="col-12 text-center"><a class="button button--white main-menu__link--scroll" style="text-decoration: none;" href="#choose-tickets">{% trans 'Buy your tickets below' %}</a></div>
          						</div>
                    </div>
      						</div>
      					</div>
      				</div>
						</div>

					</div>
				</section>
				<!-- section end-->
				<!-- shop product start-->
				<section class="section shop-product background--brown" id="choose-tickets">
					<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">
								<!-- dual slider start-->
								<div class="dual-slider">
									<div class="main-slider slick-initialized slick-slider">
                    <div class="slick-list draggable">
                      <div class="slick-track" style="opacity: 1; width: 1710px;">
                        <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 570px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                          <div>
                            <div class="main-slider__item" style="width: 100%; display: inline-block">
                              <div class="main-slider__img"><img class="img--contain" src="{% static 'img/infrastructure/garbage.webp' %}" alt="single"></div>
										        </div>
                          </div>
                        </div>
                        <div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 570px; position: relative; left: -570px; top: 0px; z-index: 998; opacity: 0;">
                          <div>
                            <div class="main-slider__item" style="width: 100%; display: inline-block">
                              <div class="main-slider__img"><img class="img--contain" src="{% static 'img/infrastructure/resting-places.webp' %}" alt="single"></div>
										        </div>
                          </div>
                        </div>
                        <div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 570px; position: relative; left: -1140px; top: 0px; z-index: 998; opacity: 0;">
                          <div>
                            <div class="main-slider__item" style="width: 100%; display: inline-block">
                              <div class="main-slider__img"><img class="img--contain" src="{% static 'img/infrastructure/wooden-trail.webp' %}" alt="single"></div>
										        </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
									<div class="nav-slider slick-initialized slick-slider"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 429px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 143px;"><div><div class="nav-slider__item" style="width: 100%; display: inline-block;">
											<div class="nav-slider__img"><img class="img--contain" src="img/single_s1.png" alt="single"></div>
										</div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 143px;"><div><div class="nav-slider__item" style="width: 100%; display: inline-block;">
											<div class="nav-slider__img"><img class="img--contain" src="img/single_s2.png" alt="single"></div>
										</div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 143px;"><div><div class="nav-slider__item" style="width: 100%; display: inline-block;">
											<div class="nav-slider__img"><img class="img--contain" src="img/single_s3.png" alt="single"></div>
										</div></div></div></div></div></div>
								</div>
								<!-- dual slider end-->
							</div>
							<div class="col-lg-6 col-xl-5 offset-xl-1">
								<div class="shop-product__top">
									<h4 class="shop-product__name">{% trans 'Visitor Ticket' %}</h4>
									<h4 class="shop-product__price"></h4>
								</div>
								<div class="shop-product__description">
									<ul class="shop-product__list">
										<li>{% trans 'Valid: 3 months' %}</li>
										<li>{% trans 'Cost for people over 14 years old:' %} 10 RON</li>
                    <li>{% trans 'Cost for children:' %} Free</li>
									</ul>
									<p></p>
                  <p>{% trans 'During the 3 months of validity, during which you can visit the entire Bucegi Natural Park. If our rangers will ask you about the ticket, just show the digital ticket received by email, after the payment is complete' %}.</p>
                  <p>{% trans 'If you want to buy tickets for your friends or family too, you can add below the number of tickets you want to buy, then press Purchase' %}.</p>

                </div>
								<form class="form product-form" method="POST" action="javascript:void(0);" autocomplete="off">
                  {% csrf_token %}
									<div class="form__wrapper">
										<div class="form__count">
                      <span class="form__minus"></span>
											<input class="form__field" type="number" name="nr_pers" value="1">
                      <span class="form__plus"></span>
                      <a class="shop-item__add" href="{% url 'checkout' %}">
												<svg class="icon">
													<use xlink:href="#bag"></use>
												</svg><span>{% trans 'Purchase' %}</span></a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
				<!-- shop product end-->
				<!-- section start-->
				<section class="section no-padding-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<!-- shop product tabs start-->
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}
