{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary green_background">
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Ticket</span> <span> Invoice Request</span>{% endblocktranslate %}</h1>
										<span class="welcome_icon">
											<img src="{% static 'img/svg/mail.svg' %}">
										</span>
									</div>
								</div>
							</div>
							<!-- <div class="col-auto">
								<span class="welcome_icon">
									<img src="{% static 'img/svg/mail.svg' %}">
								</span>
							</div> -->
						</div>
					</div>
				</section>
				<!-- welcome end-->
				<!-- section start-->
				<section class="section">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center">
									<h2 class="heading__title no-margin-bottom">{% blocktranslate %}<span>Write your</span> <span>invoicing info below</span>{% endblocktranslate %}</h2>
									<p>{% trans 'Some of the info will be already filled in according to your previous payment information' %}</p>
								</div>
							</div>
							{% if messages %}
							<div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
								{% include 'includes/messages.html' %}
							</div>
							{% else %}
							<div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center">
							</div>
							{% endif %}
							<div class="row">
								<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
									<form class="form" id="ajax-form" action="." method="POST" >
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<label>{% trans 'First Name' %}</label>
												<input class="form__field" type="text" name="fname" value="{{first_name}}" placeholder="">
											</div>
											<div class="col-md-6">
												<label>{% trans 'Last Name' %}</label>
												<input class="form__field" type="text" name="lname" value="{{ last_name }}" placeholder="">
											</div>
											<div class="col-md-6">
												<label>{% trans 'Your email' %}</label>
												<input class="form__field" type="email" name="email" value="{{ email }}" placeholder="">
											</div>
											<div class="col-md-6">
												<label>{% trans 'Your phone number' %}</label>
												<input class="form__field" type="tel" name="phone" value="{{ phone }}" placeholder="">
											</div>
											<div class="col-md-6">
												<label>{% trans 'Your Personal Identification Number' %}</label>
												<input class="form__field" type="text" name="cnp" placeholder="Subject">
											</div>
											<div class="col-12">
												<label>{% trans 'Other info' %}</label>
												<textarea class="form__field form__message" name="message" placeholder=""></textarea>
											</div>
											<div class="col-12 mb-5">
												<label class="text-warning">{% trans 'Please type in the following letters to show you are human' %}.</label>
												<br>
												{{ form.captcha }}
												<br>
											</div>
											<div class="col-12 text-center">
												<input class="form__submit" type="submit" value="{% trans 'Send' %}">
											</div>
										</div>
									</form>
								</div>
							</div>
					</div>
				</section>

				<!-- section end-->

				<!-- section start-->
				{% include 'includes/newsletter.html' %}
				<!-- section end-->

				<!-- section start-->
				<section class="map-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5 col-xl-4">
							</div>
						</div>
					</div>
					<div id="map">
						<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=administratia parcului natural bucegi&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{border:10px solid #282f34;position:relative;text-align:right;height:100%;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></div>
				</section>
				<!-- section end-->

			</main>
{% endblock %}
