{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="main">
    <!-- promo start-->
    <section class="welcome-primary">
        <picture>
            <source srcset="{% static 'img/wildlife/bear_awareness.jpg' %}" media="(min-width: 992px)"/>
            <img class="img--bg" src="{% static 'img/wildlife/bear_awareness.webp' %}" alt="Bear Awareness"/>
        </picture>
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="align-container">
                        <div class="align-container__item">
                            <span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
                            <h1 class="welcome-primary__title">
                                {% blocktranslate %}<span>Bear</span> <span>Safety</span>{% endblocktranslate %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- promo end-->

    <!-- cta start-->
    <div class="cta-block mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="video-container mt-2 mb-2">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZJMeSCIXQf8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <p class="cta-block__text">
                        {% blocktranslate %}<strong>Understanding and respecting bears is crucial for both your safety and the preservation of these magnificent creatures. By following these guidelines, you will protect yourself, the bears and their natural habitat.</strong><br><br> Scroll down for some important tips to keep in mind during your visit:{% endblocktranslate %}
                    </p>
                    
                    <img class="img mt-2 mb-2 ml-5" width="100" height="100" src="{% static 'img/chevron-down-w.png' %}" alt="More Info"/>
                </div>
            </div>
        </div>
    </div>
    <!-- cta end-->

    <!-- section start-->
    <section class="section">
        <div class="container">
            <div class="row bottom-50">
                <div class="col-12">
                    <div class="heading heading--primary heading--center">
                        <span class="heading__pre-title">{% trans 'Bear Safety' %}</span>
                        <h2 class="heading__title no-margin-bottom">
                            {% blocktranslate %}<span>Safety Tips</span> <span>and Information</span>{% endblocktranslate %}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 bottom-50">
                    <div class="table info-table">
                        <div class="table__header">
                            <div class="table__cell"><strong>{% trans 'Guideline' %}</strong></div>
                            <div class="table__cell"><strong>{% trans 'Details' %}</strong></div>
                        </div>
                        <div class="table__body">
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If You See a Bear from a Distance' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Stay Calm' %}</strong>: {% trans 'Do not panic or run.' %}</li>
                                        <li><strong>{% trans 'Give the Bear Space' %}</strong>: {% trans 'Slowly retreat and increase the distance.' %}</li>
                                        <li><strong>{% trans 'Do Not Approach' %}</strong>: {% trans 'Do not approach a bear for any reason.' %}</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If the Bear Is Unaware of Your Presence' %}</strong></span></div>
                                    <div class="table__cell" data-label="{% trans 'Details' %}">
                                        <ol>
                                            <li><strong>{% trans 'Retreat Slowly' %}</strong>: {% trans 'Try to retreat without drawing attention to yourself.' %}</li>
                                            <li><strong>{% trans 'Avoid Sudden Movements and Loud Noises' %}</strong>: {% trans 'Slowly retreat and increase the distance.' %}</li>
                                        </ol>
                                    </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If the Bear Is Aware of Your Presence' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Stay Calm' %}</strong>: {% trans 'Keep your movements slow and deliberate.' %}</li>
                                        <li><strong>{% trans 'Identify Yourself' %}</strong>: {% trans 'Speak firmly to let it know you are human. When a bear stands on its hind legs, it is checking surroundings, not preparing to attack.' %}</li>
                                        <li><strong>{% trans 'Do Not Run' %}</strong>: {% trans 'Running might trigger a chase.' %}</li>
                                        <li><strong>{% trans 'Retreat Slowly' %}</strong>: {% trans 'Maintain eye contact and avoid turning your back on the bear.' %}</li>
                                        <li><strong>{% trans 'Make Yourself Look Bigger' %}</strong>: {% trans 'Raise your arms, your backpack, open your jacket, and stand tall. If you are with others, stay together.' %}</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If the Bear Approaches' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Stand Your Ground' %}</strong>: {% trans 'Do not panic or run.' %}</li>
                                        <li><strong>{% trans 'Make Noise' %}</strong>: {% trans 'Clap, shout, and make yourself look as intimidating as possible.' %}</li>
                                        <li><strong>{% trans 'Drop Your Pack' %}</strong>: {% trans 'To distract the bear, drop items while retreating.' %}</li>
                                        <li><strong>{% trans 'Use Bear Spray' %}</strong>: {% trans "If the bear is within 6-9 meters, use bear spray. Aim slightly downward, towards the bear's face, adjusting for wind." %}</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If the Bear Attacks' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Stand Your Ground' %}</strong>: {% trans 'Many attacks are bluff charges. The bear may veer off or stop abruptly.' %}</li>
                                        <li><strong>{% trans 'Use Bear Spray' %}</strong>: {% trans 'If the bear closes in, use bear spray.' %}</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'If the Bear Physically Attacks' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Fight Back' %}</strong>: {% trans "Use any available objects to defend yourself. Aim for the eyes and nose." %}</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="table__row">
                                <div class="table__cell" style="display: flex;flex-direction: column;" data-label="{% trans 'Guideline' %}"><span><strong>{% trans 'General Preventive Measures' %}</strong></span></div>
                                <div class="table__cell" data-label="{% trans 'Details' %}">
                                    <ol>
                                        <li><strong>{% trans 'Travel in Groups' %}</strong>: {% trans 'Bears are less likely to approach larger groups.' %}</li>
                                        <li><strong>{% trans 'Make Noise' %}</strong>: {% trans 'Make your presence known, especially in areas with dense vegetation.' %}</li>
                                        <li><strong>{% trans 'Keep Dogs Leashed' %}</strong>: {% trans 'Dogs can provoke bears.' %}</li>
                                        <li><strong>{% trans 'Use Marked Trails and Travel During the Day' %}</strong>: {% trans 'Stick to established paths and avoid hiking at night.' %}</li>
                                        <li><strong>{% trans 'Avoid Attractants' %}</strong>: {% trans 'Properly store food and keep picnic/camping areas clean.' %}</li>
                                        <li><strong>{% trans 'Do Not Try to Feed the Bears' %}</strong></li>
                                        <li><strong>{% trans "Do Not Stand in the Bear's Path" %}</strong>: {% trans 'If the bear is coming towards you, give it space to pass.' %}</li>

                                    </ol>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-1">
                <h5>{% trans 'Following these guidelines can minimize the risk of a dangerous encounter with a bear and increase your chances of a safe experience.' %}</h5>
            </div>
        </div>
    </section>
    <!-- section end-->

</main>
{% endblock %}
