{% load static %}
{% load i18n %}

<div id="newsletter" class="cta-block top-70 bottom-70"><img class="img--bg" src="{% static 'img/backgrounds/newsletter6.webp' %}" alt="bg">
  <div class="container">
    {% if messages %}
    <div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
      {% include 'includes/messages.html' %}
    </div>
    {% else %}
    <div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center">
    </div>
    {% endif %}
    <div class="row align-items-center">
      <div class="col-lg-6">
        {% blocktranslate %}<h4 class='cta-block__title'>Join Our <span>Newsletter</span></h4>{% endblocktranslate %}
        {% blocktranslate %}<p class='cta-block__text'>Subscribe and get our latest updates</p>{% endblocktranslate %}
			</div>
  		<div class="col-lg-6 offset-30">
        <form class="form cta-form bottom-30" action="{% url 'home' %}" method="POST">
          {% csrf_token %}
          <input class="form__field" style="background-color: grey !important;" type="email" name="subscriber" placeholder="{% trans 'Your email' %}">
          <input class="form__submit" type="submit" value="{% trans 'Subscribe' %}">
        </form>
      </div>
    </div>
  </div>
</div>
