{% load static %}
{% load i18n %}

<section class="section">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center"><span class="heading__pre-title">{% trans 'Our Partners' %}</span>
									<h2 class="heading__title no-margin-bottom"><span>{% blocktranslate %}Companies that</span> <span>help us</span>{% endblocktranslate %}</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="logos-slider slick-initialized slick-slider">
                  <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 930px; transform: translate3d(0px, 0px, 0px);">
                      <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 186px;">
                        <div>
                          <div class="logos-slider__item" style="width: 100%; display: inline-block;">
                            <img src="img/logo_1.png" alt="logo">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 186px;">
                        <div>
                          <div class="logos-slider__item" style="width: 100%; display: inline-block;">
                            <img src="img/logo_2.png" alt="logo">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 186px;">
                        <div>
                          <div class="logos-slider__item" style="width: 100%; display: inline-block;">
                            <img src="img/logo_3.png" alt="logo">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 186px;">
                        <div>
                          <div class="logos-slider__item" style="width: 100%; display: inline-block;">
                            <img src="img/logo_4.png" alt="logo">
                          </div>
                        </div>
                      </div>
                      <div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 186px;">
                        <div>
                          <div class="logos-slider__item" style="width: 100%; display: inline-block;">
                            <img src="img/logo_5.png" alt="logo">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
								<div class="logos-slider__dots"></div>
							</div>
						</div>
					</div>
				</section>
