{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- header end-->
<main class="main">
  <!-- welcome start-->
  <section class="welcome-primary green_background">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <div class="align-container">
            <div class="align-container__item">
              <span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
              <h1 class="welcome-primary__title">{% blocktranslate %}<span>Add</span> <span>Vehicle Access Area</span>{% endblocktranslate %}</h1>
              <span class="welcome_icon">
                <img src="{% static 'img/svg/warning.svg' %}" alt="{% trans 'Vehicle icon' %}">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- welcome end-->

  <!-- section start-->
  <section class="section">
    <div class="container">
      <div class="row bottom-50">
        <div class="col-12">
          <div class="heading heading--primary heading--center">
            <h2 class="heading__title no-margin-bottom">{% blocktranslate %}<span>Enter</span> <span>Zone below</span>{% endblocktranslate %}</h2>
          </div>
        </div>

        {% if messages %}
        <div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
          {% include 'includes/messages.html' %}
        </div>
        {% else %}
        <div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center"></div>
        {% endif %}

        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <form class="form" method="post" action="{% url 'add_vehicle_access_area' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">{{ form.name.label_tag }}{{ form.name }}</div>
              
              <div class="col-12 text-center pt-4">
                <input class="form__submit" type="submit" value="{% trans 'Add Area' %}" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- section end-->

</main>
{% endblock %}
