{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- header end-->

<main class="main">
  <!-- welcome start-->
  <section class="welcome-primary green_background">
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <div class="align-container">
            <div class="align-container__item">
              <span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
              <h1 class="welcome-primary__title">{% blocktranslate %}<span>Add</span> <span>Vehicle List</span>{% endblocktranslate %}</h1>
              <span class="welcome_icon">
                <img src="{% static 'img/svg/car.svg' %}" alt="{% trans 'Vehicle icon' %}">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- welcome end-->

  <!-- section start-->
  <section class="section">
    <div class="container">
      <div class="row bottom-50">
        <div class="col-12">
          <div class="heading heading--primary heading--center">
            <h2 class="heading__title no-margin-bottom">{% blocktranslate %}<span>Enter</span> <span>Vehicle List</span>{% endblocktranslate %}</h2>
            <p>{% trans "The list of vehicles to be uploaded has to be an excel file and the table header must match the following format:" %}</p>
            <img src="{% static 'img/administrative/vehicle_excel_table.png' %}" alt="{% trans 'Excel Vehicle Upload Example' %}">
            <a href="{% static 'files/lista_vehicule_20250602.xlsx' %}" download class="form__submit">
              {% trans 'Download Vehicle Template (Excel)' %}
            </a>
          </div>
        </div>

        {% if messages %}
        <div id="error-section" class="pb-3 col-12 justify-content-center" style="justify-content:center">
          {% include 'includes/messages.html' %}
        </div>
        {% else %}
        <div id="error-section" class="pb-5 col-12 justify-content-center" style="justify-content:center"></div>
        {% endif %}

        <div class="col-lg-12 col-xl-12 hot">
          <!-- <form class="form" method="post" action="{% url 'bulk_vehicle_entry' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">{{ excel_form.as_p }}</div>
              <div class="col-12 text-center  pt-4">
                <input class="form__submit" type="submit" value="{% trans 'Add Vehicle List' %}" />
              </div>
            </div>
          </form> -->
          <div id="vehicleTable" style="height:400px; width:100%; overflow:auto;"></div>
          <button id="saveButton">Save</button>
      </div>
    </div>
  </section>
  <!-- section end-->

</main>
<!-- connection to the js code for the handsontable function in special.js -->
 <script>
  const vehicleSaveUrl = "{% url 'bulk_vehicle_save' %}";
  const csrfToken = "{{ csrf_token }}";
  const dropdownDataUrl = "{% url 'dropdown_data' %}";
</script>
<!-- <script src="{% static 'js/special.js' %}"></script> -->
<!-- Setup dynamic variables -->

{% endblock %}
