{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- section start-->
				<section class="error section no-padding-top no-padding-bottom"><img class="img--bg" src="{% static 'img/backgrounds/404.webp' %}" alt="img">
					<div class="align-container">
						<div class="align-container__item">
							<div class="container">
								<div class="row">
									<div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7 text-center">
										<div class="error__title">404</div>
										<div class="error__subtitle">{% trans 'Page not found' %}</div>
										<div class="error__text">{% trans 'Sorry, but that page never returned from a trip to the mountains. So you better come back home' %}</div><a class="button button--filled" href="{% url 'home' %}">{% trans 'Home' %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}
