{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main">
				<!-- promo start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/backgrounds/public1.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/backgrounds/public1.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Vehicles with </span><br> <span> granted access</span>{% endblocktranslate %}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
        <section class="section elements bottom-50">
          <div class="container">
            <div class="row">
              <div class="col-xl-10">
                <h4 class="elements__title">{% trans 'Check if a vehicle inside Bucegi Natural Park has authorised access' %}</h4>
                <p class="elements__title">{% trans 'Write the car plates series in the box below' %}</p>
              </div>
            </div>
            <div class="blog__inner-block bottom-50">
              <form class="search-form" action="." method="GET">
                <input class="search-form__input" type="search" name="q" placeholder={% trans "Search Here" %}>
                <button class="form__submit" type="submit" name="form-type" value="search">{% trans 'Search' %}</button>
                  <svg class="icon">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </form>
            </div>
            <!-- vehicles style-2 start-->
            <div class="row">
              {% if user.is_authenticated %}	<a class="nav-link text-decoration-none" id="navbarDocumentation" target="_blank" href="{% url 'admin:index' %}services/allowedvehicles/"><img style="vertical-align:text-top" src="{% static 'img/svg/plus.svg' %}" width="30" height="30" alt="plus"></a>{% endif %}
              
            </div>
            <!-- vehicles style-2 end-->
          </div>
        </section>
      </main>
{% endblock %}
