{% extends "services/base.html" %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
			<main class="main">
				<!-- promo start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/backgrounds/blog_bg1.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/backgrounds/blog_bg1.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span>{% blocktranslate %}Our</span> <span>Announcements{% endblocktranslate %}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- announcements start-->
				{% include 'includes/messages.html' %}
				<section class="section blog">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xl-9">
								<div class="row">
									{% if user.is_authenticated %}
									<div class="col-12 filter-panel__item  mb-5">
			              <a class="nav-link text-decoration-none bg-light" style="width:100%;" id="navbarDocumentation" href="{% url 'admin:index' %}">
			                <img style="vertical-align:text-top" src="{% static 'img/svg/plus.svg' %}" width="30" height="30" alt="plus"><span style="margin-left:2em;color:black;">{% trans 'Add an announcement' %}</span>
			              </a>
			            </div>
									{% endif %}
									{% if fut_announc %}
										{% for a in fut_announc %}
									<div class="col-12 mb-5">
										<div class="blog-item">
											<div class="blog-item__img"><img class="img--bg" src="{{ a.image.url }}" alt="announcement_ad">
												<div class="blog-item__date " style=""><span>{{ a.timestamp|date:"d" }}</span><span>{{ a.timestamp|date:"M Y" }}</span></div>
											</div>

											<h4 class="blog-item__title"><a href="{% url 'announ-details' a.slug %}">{{ a.title|capfirst|safe }}</a></h4>
											<p class="text-justify">{{ a.text|truncatechars:700|safe }} </p><br>
											<div class="blog-post__details">
												<div class="row align-items-center">
													<div class="col-md-3 text-center text-md-left ">
														<div class="blog-post__author">
															<a class="button button--white" href="{% url 'announ-details' a.slug %}">{% trans 'Open' %}</a>
														</div>
													</div>
													<div class="col-md-3 text-center align-items-center text-md-left">
														<div class="blog-post__author m-sm-2">
															<a target="_blank" class="button button--white" {% if LANGUAGE_CODE == "ro" %} href="{{ a.link_ro.url }}"{% else %}href="{{ a.link_en.url }}"{% endif %}>{% trans 'Download' %}</a>
														</div>
													</div>
													<div class="col-md-2 text-center d-flex align-items-center justify-content-center">
														<div class="blog-post__comments-count">
															<svg class="icon">
																<use xlink:href="#comment"></use>
															</svg><span>{% trans 'Views' %}: {% get_hit_count for a %}</span>
														</div>
													</div>
													<div class="col-md-3">
														<ul class="blog-post__socials ">
															<li><a target="_blank" href="https://www.facebook.com/people/Romsilva-Administra%C8%9Bia-Parcului-Natural-Bucegi/100057429310837/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
															<li><a target="_blank" href="https://twitter.com/BucegiPark"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
															<li><a target="_blank" href="https://www.youtube.com/channel/UC9qvl74Lfld73eiqlLSPiqQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
															<li><a target="_blank" href="https://www.instagram.com/parculnaturalbucegi/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
										{% endfor %}
									{% else %}
									<div class="cta-block mb-5">
										<div class="container">
											<div class="row align-items-center w-100">
												<div class="col-12">
													<p class="cta-block__text"><strong></strong><br><br></p>
													<p class="cta-block__text">{% trans 'No announcements for now, but stay tuned for news by subscribing our newsletter' %}</p><img width="50" height="50" style="text-align:center;margin:auto;" src="{% static 'img/chevron-down-w.png' %}"/><br>
													<div class="col-xl-8"><a class="button button--primary button--filled main-menu__link--scroll" href="#newsletter">{% trans 'Click here to subscribe' %}</a></div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									<!-- <div class="col-12 text-center mb-5">
										<ul class="pagination blog__pagination">
											<li class="pagination__item pagination__item--prev"><i class="fa fa-angle-left" aria-hidden="true"></i><span>Back</span>
											</li>
											<li class="pagination__item"><span>1</span></li>
											<li class="pagination__item pagination__item--active"><span>2</span></li>
											<li class="pagination__item"><span>3</span></li>
											<li class="pagination__item"><span>4</span></li>
											<li class="pagination__item"><span>5</span></li>
											<li class="pagination__item pagination__item--next"><span>Next</span><i class="fa fa-angle-right" aria-hidden="true"></i>
											</li>
										</ul>
									</div> -->
								</div>
							</div>
							<div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 col-xl-3">
								<!-- <div class="blog__inner-block bottom-50">
									<form class="search-form" action="#" method="GET" role="form">
										<input class="search-form__input" type="search" name="search" placeholder="Search Here"/>
										<button class="search-form__submit" type="submit">
											<svg class="icon">
												<use xlink:href="#search"></use>
											</svg>
										</button>
									</form>
								</div> -->
								<!-- <div class="blog__inner-block bottom-50">
									<h5 class="blog__title">{% trans 'Categories' %}</h5>
									<ul class="categories-list">
										{% for c in group_categ %}
										<li class="categories-list__item categories-list__item--active"><span class="categories-list__name">{{ c.title|capfirst|safe }}</span><span class="categories-list__count">{{ c.count }}</span></li>
										{% endfor %}
									</ul>
								</div> -->
								<div class="blog__inner-block bottom-50">
									<h5 class="blog__title">{% trans 'Archive' %}</h5>
									<ul class="categories-list">
										{% for i in group_archive %}
										<li class="categories-list__item categories-list__item--active"><span class="categories-list__name">{{ i.timestamp|date:"M Y" }}</span><span class="categories-list__count">{{ i.count }}</span></li>
										{% endfor %}
									</ul>
								</div>
								<div class="blog__inner-block bottom-50">
									<h5 class="blog__title">Instagram <i class="fa fa-instagram" aria-hidden="true"></i>
									</h5>
									<div class="footer-instagram">
										<a class="footer-instagram__item" href="https://www.instagram.com/p/ClEfz7sjdRQ/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/insta10.webp' %}" alt="ig"/></div>
										</a>
										<a class="footer-instagram__item" href="https://www.instagram.com/p/CnfDzynqnv5/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/deer1.webp' %}" alt="ig"/></div>
										</a>
										<a class="footer-instagram__item" href="https://www.instagram.com/p/CnCVW_5oK91/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/insta15.webp' %}" alt="ig"/></div>
										</a><a class="footer-instagram__item" href="https://www.instagram.com/p/CoNCfK5IJHO/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/insta16.webp' %}" alt="ig"/></div>
										</a>
										<a class="footer-instagram__item" href="https://www.instagram.com/p/ClEfz7sjdRQ/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/insta14.webp' %}" alt="ig"/></div>
										</a>
										<a class="footer-instagram__item" href="https://www.instagram.com/p/ClZDbxOr-Nm/">
											<div class="footer-instagram__img"><img class="img--bg" src="{% static 'img/insta/bear_pond.webp' %}" alt="ig"/></div>
										</a>
									</div>
								</div>
								<!-- <div class="blog__inner-block bottom-50">
									<h5 class="blog__title">Tags</h5>
									<div class="tags tags--style-2"><a class="tags__item" href="#">Animal</a><a class="tags__item" href="#">Monkey</a><a class="tags__item" href="#">Zoo</a><a class="tags__item" href="#">Kids</a><a class="tags__item" href="#">Lion</a><a class="tags__item" href="#">Giraffe</a></div>
								</div> -->
								<div class="subscribe-block" id="newsletter">
									<h5 class="subscribe-block__title">{% trans 'Subscribe Now' %}</h5>
									<p>{% trans 'And get our latest updates' %}</p>
									<form class="form subscribe-form" action="{% url 'announcement' %}" method="POST">
										{% csrf_token %}
										<input class="form__field" type="email" name="subscriber" placeholder="{% trans 'Your email' %}"/>
										<button class="form__submit" type="submit" name="form-type" value="subscribe">{% trans 'Subscribe' %}</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- announcements end-->
			</main>
{% endblock %}
