{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main" >
				<!-- welcome start-->
				<section class="welcome-primary">
					<picture >
						<source srcset="{% static 'img/team/team3.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/team/team3.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item mt-5"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span>{% blocktranslate %}Scientific</span> <span> Council{% endblocktranslate %}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- welcome end-->
				{% if user.is_authenticated %}
				<div class="col-12 filter-panel__item  mb-5">
					<a class="nav-link text-decoration-none bg-light" style="width:100%;" id="navbarDocumentation" href="{% url 'admin:index' %}services/scouncil/">
						<img style="vertical-align:text-top" src="{% static 'img/svg/plus.svg' %}" width="30" height="30" alt="plus"><span style="margin-left:2em;color:black;">{% trans 'Add a member' %}</span>
					</a>
				</div>
				{% endif %}
									
				<!-- section start-->
				<section class="section">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center"><span class="heading__pre-title">{% trans 'Scientific Council' %}</span>
									<h2 class="heading__title"><span></span> <span>{% trans 'President' %}</span></h2>
								</div>
							</div>
						</div>
						<!-- pricing style-1 start-->
						<div class="row offset-margin" style="justify-content: center;">
							{% for i in president %}
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<img class="img--bg" src="{{ i.image.url }}" alt="img"/>
										</div>
										<div class="pricing-item__subject">{{ i.title|capfirst }} {{ i.firstname }} {{ i.surname }}</div>
										<div class="pricing-item__price"><span>{% trans 'Area of Interest' %}</span><br><span>{{ i.interest }}</span>
										</div>
										<div class="pricing-item__price">
											<span >{{ i.email|lower }}</span>
										</div>
									</div>
									<div class="pricing-item__lower"><a class="pricing-item__button button button--primary" href="{{ i.cv }}">{% trans 'Curriculum Vitae' %}</a></div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<section class="section bottom-50">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center"><span class="heading__pre-title">{% trans 'Scientific Council' %}</span>
									<h2 class="heading__title"><span></span> <span>{% trans 'Members' %}</span></h2>
								</div>
							</div>
						</div>
						<!-- pricing style-1 start-->
						<div class="row offset-margin" style="justify-content: center;">
							{% for i in other_members %}
							<div class="col-sm-6 col-md-4 col-xl-3">
								<div class="pricing-item pricing-item--style-1 text-center">
									<div class="pricing-item__top">
										<div class="pricing-item__icon">
											<img class="img--bg" src="{{ i.image.url }}" alt="img"/>
										</div>
										<div class="pricing-item__subject">{{ i.title|capfirst }} {{ i.firstname }} {{ i.surname }}</div>
										<div class="pricing-item__price"><span>{% trans 'Area of Interest' %}</span><br><span>{{ i.interest|lower|capfirst }}</span>
										</div>
										<div class="pricing-item__price">
											<span >{{ i.email|lower }}</span>
										</div>
									</div>
									<div class="pricing-item__lower">
										{% if i.cv %}
										<a class="pricing-item__button button button--primary" href="{{ i.cv.url }}">{% trans 'Curriculum Vitae' %}</a>
										{% else %}
										<a class="pricing-item__button button button--primary" href="#">{% trans 'Curriculum Vitae' %}</a>
										{% endif %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<!-- section end-->

			</main>
	{% endblock %}
