{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- promo start-->
				<section class="promo-primary">
					<!-- <picture>
						<source srcset="{% static 'img/backgrounds/presentation-tatra.webp' %}" media="(min-width: 992px)"/>
						<img class="img--bg" src="{% static 'img/backgrounds/presentation-tatra.webp' %}" alt="img"/>
					</picture> -->
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="promo-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="promo-primary__title"><span></span> <span>{{ event.title }}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- section start-->
				<section class="section event-details">
					<div class="event-details__bg"><img src="#" alt="img"/></div>
					<div class="container">
						<div class="row">
							<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
								<div class="row bottom-50">
									<div class="col-sm-4">
										<h6 class="event-details__title">{{ event.title|capfirst|safe }}</h6>
										<p>{{ event.timestamp|date:"M Y"}}</p>
									</div>
									<!-- <div class="col-sm-4">
										<h6 class="event-details__title">At the Zoo</h6>
										<p class="font--bold">Directions</p>
									</div> -->
									<!-- <div class="col-sm-4">
										<h6 class="event-details__title">Free</h6>
										<p class="font--bold">with Zoo admission</p>
									</div> -->
								</div>
								<div class="event-details__img"><img class="img--bg" src="{{ event.image.url }}" alt="img"/></div>
								<p>{{ event.text|safe }}</p>
							</div>
						</div>
						<!-- <div class="row top-50">
							<div class="col-12 text-center"><a class="button button--primary" href="#">Buy tickets</a></div>
						</div> -->
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<!-- <section class="section no-padding-top no-padding-bottom">
					<div class="row no-gutters">
						<div class="col-lg-6"><a class="action-block" href="#">
							<div class="action-block__inner"><img class="img--bg" src="img/action-block_6.jpg" alt="img"/>
								<h3 class="action-block__title"><span>Zoo</span><br/> <span>Calendar</span></h3>
							</div></a></div>
						<div class="col-lg-6"><a class="action-block" href="#">
							<div class="action-block__inner"><img class="img--bg" src="img/action-block_7.jpg" alt="img"/>
								<h3 class="action-block__title"><span>Our</span><br/> <span>Blog</span></h3>
							</div></a></div>
					</div>
				</section> -->
				<!-- section end-->
			</main>
{% endblock %}