{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- promo start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/section-bg-dark.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/section-bg-dark.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item mt-5"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title"><span></span> <span>{% trans 'Flora' %} Info</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- section start-->
				<section class="section animal-details">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
								<div class="row offset-30">

									<div class="col-12 col-sm-6 col-md-4 bottom-30">
										<div class="animal-details__icon">
											<img class="img--bg" style="height:100px;width:200px" src="{{ flora.image.url }}" alt="img"/>
										</div>
									</div>
									<div class="col-12 col-sm-6 col-md-4 bottom-30">
										<h6 class="animal-details__title">{% trans 'Conservation status' %}</h6>
										<p>{{ flora.cons_status }}</p>
									</div>
									<div class="col-12 col-sm-6 col-md-4 bottom-30">
										<h6 class="animal-details__title">{% trans 'Flowering' %}</h6>
										<p>{{ flora.life_span }}</p>
									</div>
									<div class="col-12 col-sm-6 col-md-4 bottom-30">
										<h6 class="animal-details__title">{% trans 'Height' %}</h6>
										<p>{{ flora.height_max }} kg <br/></p>
									</div>
									<div class="col-12 col-sm-6 col-md-4 bottom-30">
										<h6 class="animal-details__title">{% trans 'Native habitat' %}</h6>
										<p>{{ flora.habitat }}</p>
									</div>
									<!-- <div class="col-12 col-sm-6 col-md-4 bottom-30">
										<h6 class="animal-details__title">{% trans '' %}</h6>
										<p>{{ flora. }}</p>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<section class="section"><img class="d-block section__bg height100 width100 t0" src="{% static 'img/section-bg.png' %}" alt="img"/>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
								<h6 class="bottom-15"></h6>
								<p>{{ flora.text|safe }}</p>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}
