{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- promo start-->
				<section class="promo-primary">
					<picture>
						<source srcset="{{ flora.image.url }}" media="(min-width: 992px)"/>
						<img class="img--bg" src="{{ flora.image.url }}" alt="img"/>
					</picture>
					<div class="container mt-5">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="promo-primary">

					<div class="container mt-5">
						<div class="row">
							<div class="col-auto">
								<div class="align-container mt-5">
									<div class="align-container__item mt-5"><span class="welcome-primary__pre-title">{% trans 'Flora' %}</span>
										<h1 class="welcome-primary__title"><span></span> <span>{{ flora.name|title }}</span></h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- section start-->
				<section class="section animal-details">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
								<div class="row offset-30">
									<div class="col-12 col-sm-6 col-md-4 bottom-30" style="border:green 2px solid;">
										<div class="animal-details__icon">
											<svg class="icon">
												<i class="fa fa-leaf text-dark"></i>
											</svg>
										</div>
										<h6 class="icon-item__title">{% trans 'Conservation status' %}</h6>
										<p>{{ flora.cons_status }}</p>
									</div>
															
							
									<div class="col-sm-6 col-lg-4 col-xl-3">
										<div class="icon-item">
											<h6 class="icon-item__title">{% trans 'Native habitat' %}</h6>
											<p>{{ flora.habitat|capfirst|safe }}</p>
										</div>
									</div>
									<div class="col-sm-6 col-lg-4 col-xl-3">
										<div class="icon-item">
											<h6 class="icon-item__title">{% trans 'Height' %}</h6>
											<p>{{ flora.height_max }} cm </p>
										</div>
									</div>
									<div class="col-sm-6 col-lg-4 col-xl-3">
										<div class="icon-item">
											<h6 class="icon-item__title">{% trans 'Flowering' %}</h6>
											<p>{{ flora.flowering_start }} - {{ flora.flowering_end }}</p>
										</div>
									</div>
									<div class="col-sm-6 col-lg-4 col-xl-3">
										<div class="icon-item">
											<h6 class="icon-item__title">{% trans 'Life span' %}</h6>
											<p>{{ flora.life_span }} </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
				<!-- section start-->
				<section class="section"><img class="d-block section__bg height100 width100 t0" src="{% static 'img/section-bg.png' %}" alt="img">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
								<h6 class="bottom-15">{% trans 'Description' %}</h6>
								<p>{{ flora.text|safe }}</p>
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}