{% extends "services/base.html" %}
{% load static %}
{% load i18n %}
{% load filter_links %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
			<!-- header end-->
			<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary green_background">
					<div class="container">
						<div class="row d-flex">
							<div class="col-auto ">
								<div class="align-container">
									<div class="align-container__item w-100"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Public</span><span> Documents</span>{% endblocktranslate %}</h1>
										<span class="welcome_icon">
											<img src="{% static 'img\svg\voice2.svg' %}">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- welcome end-->
				<!-- section start-->
				<section class="section elements mt-2 pt-1 mb-5">
					<div class="container">
						<div class="row">
							<div class="col-xl-8">
								<h4 class="elements__title"></h4>

								{% for item in public_docs %}
								<div class="accordion accordion--primary">
									<div class="accordion__title-block">
										<h6 class="accordion__title">{{ item.title|capfirst }}</h6><span class="accordion__close"></span>
									</div>
									<div class="accordion__text-block">
										<p>{{ item.text|safe }}</p>
										<p>{% trans 'The official document can be downloaded below' %}</p>
											{% for link in links|in_category:item %}
												<!-- {{ link.category }} = {{ item.title }} -->
													{% if LANGUAGE_CODE == 'en' or LANGUAGE_CODE == 'de' %}

													<a href="{{ link.link_en.url }}" download target="_blank" class="button button--primary button--rounded">
														<table style="text-decoration:none">
														  <tr>
																<!-- {{ link.category }} {{ item.slug }} -->
																<th><p>{% trans 'Year' %} {{ link.year }} </p></th>
																<th><h5><img width="100" height="100" src="{% static 'img/svg/download3.svg' %}">&nbsp;</h5></th>
														  </tr>
														</table>
													</a>
													{% else %}
													<a href="{% if link.category == item.slug %}{{ link.link_ro.url }}{% endif %}" download target="_blank" class="button button--primary button--rounded">
														<table style="text-decoration:none">
														  <tr>
																<th><p>{% trans 'Year' %} {{ link.year }} </p></th>
																<th><h5><img width="100" height="100" src="{% static 'img/svg/download3.svg' %}">&nbsp;</h5></th>
														  </tr>
														</table>
													</a>
													{% endif %}
										{% endfor %}
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}
