{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main">
				<!-- welcome start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/backgrounds/themetrails2.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/backgrounds/themetrails2.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Theme</span> <span>Trails</span>{% endblocktranslate %}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- welcome end-->
				<!-- cta start-->
				<div class="cta-block">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12">
								<p class="cta-block__text"><i class="fa fa-info-circle"></i> {% blocktranslate %}<strong>There are a total of 10 theme trails throughout Bucegi Natural Park. </strong><br><br> Most of them are easy - average dificulty, with only a few of average dificulty, meaning some steep slopes and rocky terrain{% endblocktranslate %}.</p>
								<p class="cta-block__text"><i class="fa fa-info-circle"></i> {% trans 'If you want to see them on the map please click the MAP button. On the map you can filter trails by clicking on the right side and clear the filter when you want to see all of them. You can also search for one using the binoculars icon on the left. The upper layers button will show you the legend of the map. Also when hovering over a trail a pop-up message will show you info about time, distance and difficulty' %}.</p>
								<p class="cta-block__text"><i class="fa fa-info-circle"></i> {% trans 'More info on trails also below' %}.<img width="50" height="50" style="float:right;" src="{% static 'img/chevron-down-w.png' %}"/></p>
							</div>
						</div>
					</div>
				</div>
				<!-- cta end-->
				<!-- section start-->
				<section class="section background--gray pt-1 mt-1">
					<div class="container">
						<div class="row text-center justify-content-center">
							{% if user.is_authenticated %}
								<div class="col-12 filter-panel__item  mb-5">
									<a class="nav-link text-decoration-none bg-light" style="width:100%;" id="navbarDocumentation" href="{% url 'admin:index' %}services/themetrail">
										<img style="vertical-align:text-top" src="{% static 'img/svg/plus.svg' %}" width="30" height="30" alt="plus"><span style="margin-left:2em;color:black;">{% trans 'Add a theme trail' %}</span>
										</a>
								</div>
									{% endif %}
							<div class="col-lg-12">
								<div class="col-lg-1 col-xl-1">
									<a class="pricing-item__button button button--primary" target="_blank" href="http://themetrails.bucegipark.ro/#11/45.3806/25.4486" download>{% trans 'MAP' %}</a>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section background--gray">
					<div class="container">
						<div class="row">
							{% for trail in trails %}
							<div class="col-lg-12">
								<div class="pricing-item pricing-item--style-2">
									<div class="row align-items-center">
										<div class="col-lg-5">
											<h6 class="pricing-item__plan">{{ trail.name }}</h6>
										</div>
										<div class="col-lg-3 col-xl-3">
											<span>{{ trail.distance_km }} km | {{ trail.duration_hours }} {% trans 'hours' %}</span>
										</div>
										<div class="col-lg-2 text-center">
											<div class="pricing-item__price">{{ trail.difficulty }}</div>
										</div>
										<div class="col-lg-2 col-xl-2 text-lg-right">
											<a class="pricing-item__button button button--primary" href="{{ trail.gpx_file.url }}" download>
												{% trans 'Download GPX' %}
											</a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<!-- section end-->
			</main>
{% endblock %}
