{% extends "services/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
			<main class="main">
				<!-- promo start-->
				<section class="welcome-primary">
					<picture>
						<source srcset="{% static 'img/backgrounds/tickets2.webp' %}" media="(min-width: 992px)"/><img class="img--bg" src="{% static 'img/backgrounds/tickets2.webp' %}" alt="img"/>
					</picture>
					<div class="container">
						<div class="row">
							<div class="col-auto">
								<div class="align-container">
									<div class="align-container__item"><span class="welcome-primary__pre-title">{% trans 'Bucegi Natural Park' %}</span>
										<h1 class="welcome-primary__title">{% blocktranslate %}<span>Tickets &</span> <span>Prices</span>{% endblocktranslate %}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- promo end-->
				<!-- cta start-->
				<div class="cta-block mb-5">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12">
								<p class="cta-block__text">{% blocktranslate %}<strong>The visitor fee supports us in keeping doing what we do, which is preserving this mountain for future generations. We maintain order and compliance with visitor regulations, maintain trails, assist you when you are in trouble on the mountain, collect garbage, protect flora and fauna, educate children and adults, we upload photos on social media to show you the local natural beauty, set up lots of information boards, and much more. </strong><br><br> Tickets can be purchased, for now, either from our rangers at the park entrances or by accessing <a href='https://easy2visit.com/en/bucegi-natural-park/'>Easy2visit</a>. Soon though you will be able to buy the tickets by clicking on the TICKETS button above, in any currency, even using Revolut or Bitcoin{% endblocktranslate %}.</p>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/garbage.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/presentation2.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/wooden-trail.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/info-board2.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/resting-places.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/presentation.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/info-board3.webp' %}" alt="img"/>
								<img class="img mt-2 mb-2" width="250" height="250" src="{% static 'img/infrastructure/info-board4.webp' %}" alt="img"/>

								<p class="cta-block__text">{% trans 'The tickets are valid for 3 months. More about tickets below' %}.</p><img class="img mt-2 mb-2 ml-5" width="100" height="100" src="{% static 'img/chevron-down-w.png' %}" alt="img"/>
							</div>
						</div>
					</div>
				</div>
				<!-- cta end-->
				<!-- section start-->
				<section class="section">
					<div class="container">
						<div class="row bottom-50">
							<div class="col-12">
								<div class="heading heading--primary heading--center"><span class="heading__pre-title">{% trans 'Tickets' %}</span>
									<h2 class="heading__title no-margin-bottom">{% blocktranslate %}<span>Three Months</span> <span>Ticket</span>{% endblocktranslate %}</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 bottom-50">
								<div class="table ticket-table">
									<div class="table__header">
										<div class="table__cell"><strong>{% trans 'Tickets' %}</strong></div>
										<div class="table__cell"><strong>{% trans 'Details' %}</strong></div>
										<div class="table__cell"><strong>{% trans 'Price' %}</strong></div>
									</div>
									<div class="table__body">
										<div class="table__row">
											<div class="table__cell" data-label="{% trans 'Tickets' %}"><span><strong>{% trans 'Teens and Adults' %}</strong></span></div>
											<div class="table__cell" data-label="{% trans 'Details' %}"><span>14 + {% trans 'years old' %}</span></div>
											<div class="table__cell" data-label="{% trans 'Price' %}"><span><strong>10 RON</strong></span></div>
										</div>
										<div class="table__row">
											<div class="table__cell" data-label="{% trans 'Tickets' %}"><span><strong>{% trans 'Children' %}</strong></span></div>
											<div class="table__cell" data-label="{% trans 'Details' %}"><span>{% trans '0 up to 14 years old' %}</span></div>
											<div class="table__cell" data-label="{% trans 'Price' %}"><span><strong>{% trans 'Free' %}</strong></span></div>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="col-12 text-center"><a class="button button--primary" href="#">{% trans 'Buy Tickets' %}</a></div> -->
						</div>
					</div>
				</section>
				<!-- section end-->


			</main>
{% endblock %}
